# -------------------------
# Virtual Environment
# -------------------------
venv/
.env/

# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# -------------------------
# Django
# -------------------------
db.sqlite3
media/
staticfiles/

# -------------------------
# Environment Variables
# -------------------------
.env
*.env

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db
